/* CSS RESET */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Inter', sans-serif;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    align-items: center;
    background: #ffffff;
    /* width: 1000px; */
}

#content{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    width: 100%;
    max-width: 95rem;
}

#content #profile_section{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2.5rem;
}

#profile_section #profile__img{
    width: 8.8rem;
    height: 8.8rem;
    border-radius:27.5rem;
    object-fit:cover;
    display:block;
    margin-bottom: 2.5rem;
}

#profile_section #profile__overlay{
    display: none;
    position: absolute;
    width: 8.8rem;
    height: 8.8rem;
    background:rgba(57, 49, 49, 0.622);
    border-radius:27.5rem;
    color:rgba(255, 255, 255, 0.75);
    font-size: 2rem;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 1rem;
    text-align: center;
}

 #profile__img:hover ~ #profile__overlay{
    display:flex;

}

#profile_section #slack{
    display: none;
}

#profile_section .three-dotsbtn{
    display:none
}

#profile_section .share-btn{
    display: block
}
#profile_section #share-icon{
    width: 4rem;
    height: 4rem;
    border: 1px dashed #D0D5DD;
    border-radius: 2rem;
    display: flex;
    justify-content:center;
    align-items: center;
    position: absolute;
    right: 23%;
    top: 4rem; 
    cursor:pointer
}

#share-icon #hover-box{
    display:none;
    /* transition: 0.8s; */

}

#share-icon:hover #hover-box{
    width: 9rem;
    height: 30px;
    background:#000;
    color:#fff;
    position:absolute;
    right: 5rem;
    border-radius: 0.7rem;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:1.2rem;
    font-weight:medium;
    transition: 0.8s;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    ;

}

#share-icon:hover #hover-box:after{
    content: "";
    display: block;
    width:6px;
    height:6px;
    background:#000;
    position:absolute;
    left: 9rem;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transform: rotateZ(90deg);
    padding: 0.2rem;

}

#link_section{
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 100%;


}

#link_section .link__item{
    /* background:  */
    box-shadow: 0px 1px 2px 0px #1018280D;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 68px; 
    background: #EAECF0;    
    border: 1px solid #EAECF0;
    border-radius: 8px; 
    margin-bottom: 1.8rem;
    cursor: pointer;     
}

#link_section .link__item:hover{
    background: #adb3bd;
    border: 1px solid #adb3bd;
}

.link__item a {
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #101828;
}

#social_icons{
    display: flex;
    justify-content: center;
    align-items: center;

}
#social_icons #image{
width: 15px;
height: 10px;
}

#image img{
    width: 100%;
}

#github{
    padding: 10px;
    margin-top:3px;
    font-size: 2rem;
}

#line{
    margin: auto;
    margin-top: 100px;

}
#footer{
    display: flex;
    /* width: 100%; */
    align-items: flex-start;
    margin-top: 100px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* background:red; */
    min-height: 8rem;    
}
.footer-item{
    width: 250px;
}

.footer-item:last-child{
    display: flex;
    justify-content: flex-end;
}
 #footer img{
    width: 150px;
    margin-bottom:2px;
}

#footer p{
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 1.5rem;
}

@media(max-width: 768px){

    .footer-item:last-child{
        display: flex;
        justify-content: flex-start;
    }

    #profile_section .share-btn{
        display:none
    }

    #profile_section .three-dotsbtn{
        display:block
    }
    
    #profile_section #share-icon{
        width: 4rem;
        height: 4rem;
        border: 1px dashed #D0D5DD;
        border-radius: 2rem;
        display: flex;
        justify-content:center;
        align-items: center;
        position: absolute;
        right: 1.5rem;
        top: 2rem; 
        font-size: 1.5rem;
        text-align:center;

    }

    #share-icon:hover #hover-box{
        display:none;
    }

    
}
